.container body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    padding: 20px;
}
.container nav {
    padding-top: 20px;
    display: block;
    position:absolute;
    right: 0;

}

.container div {
    display: block;
    top: 100px;
    height: 400px;
    width: 400px;
}